@tailwind base;
@tailwind components;
@tailwind utilities;

.flex {
  display: flex;
}

.flexd {
  flex-direction: column;
}

.al-start {
  align-items: flex-start;
}

.al-center {
  align-items: center;
}

.al-end {
  align-items: flex-end;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-between {
  justify-content: space-between;
}

.jc-around {
  justify-content: space-around;
}

.modal-wrapper {
  background: transparent !important;
}

.modaaal {
  --background: rgba(255, 255, 255, 0.26) !important;
  
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-button {
  text-transform: none;
}

ion-tab-bar
{
  --background: #F8F5F2 !important;
  border: none !important;
}
ion-tab-button {
  #inactive {
    display: inline;
  }

  #active {
    display: none;
  }
}

.tab-selected {
  #inactive {
    display: none;
  }

   #active {
    display: inline;
  }
}

.swiper-pagination {
  position: unset !important;

  .swiper-pagination-bullet {
    background: #ee5f64;
  }

  .swiper-pagination-bullet-active {
    background: #d19e12;
  }
}

.the-form {
  margin-top: 10vw;
  .input-item {
    margin-bottom: 10px;

    ion-item {
      --border-color: #f0f0f0;
      --border-radius: 10px;
      --border-style: solid;
      --border-width: 1px;
      min-height: 56px;
      ion-input {
        font-size: 18px;
      }
    }
  }
}

.holder {
  ion-select {
    width: 100% !important;
    max-width: 100% !important;
    --max-width: 100% !important;
    min-width: 100% !important;
    --min-width: 100% !important;
    .native-wrapper {
      background: red !important;
      width: 100% !important;
    }
  }
}

.search-holder {
  ion-searchbar {
    height: 50px !important;
    .searchbar-input-container {
      height: 50px !important;
      input {
        background: #f8f8f8 !important;
        box-shadow: none !important;
        border: 1px solid #f3f3f3 !important;
      }
    }
  }
}

ion-footer {
  #ion-input-0 {
    padding-left: 20px !important;
  }
}

// ion-range::part(tick)::after,
// ::part(tick-active)::after {
//   counter-increment: tick-counter !important;
//   content: counter(tick-counter) !important;
//   height: 60px !important;
//   width: 60px !important;
//   position: absolute !important;
//   left: 0;
//   top: 0;
// }

// ion-range::part(tick) {
//   counter-reset: tick-counter -1;
// }

ion-toolbar
    {
        --background: #F8F5F2;

        [slot="start"]
        {
          min-width: 20%;
        }

        [slot="end"]
        {
          min-width: 0%;
          margin-right: -15px;
        }

        ion-icon
        {
            color: #2D2D2D;
            margin-right: 16px !important;
        }

        ion-title
        {
          font-size: 20px;
          --color: #636363;
          text-align: center;
          width: 100%;
          margin: 0 auto;
          position: relative;
          padding: 0 20% 0 0;
        }

        h1
        {
            font-size: 20px;
            padding: 0;
            margin: 0 auto;
            text-align: center;
        }
        
    }

    ion-content {
      --ion-background-color: #F8F5F2;
      --padding-start: 20px;
      --padding-end: 20px;
    }

ion-accordion.accordion-animated > [slot="header"] .ion-accordion-toggle-icon {
  color: #2d2d2d !important;
  opacity: 0.4;
}

ion-page {
  --ion-background-color: #F8F5F2;
  --background: #F8F5F2;
}


ion-range::part(knob) {
  --knob-size: 16px;
}

ion-range::part(knob) {
  border: 8px solid #ee5f64;
  margin-top: -10px;
}

// Notifications

.read {
  opacity: 0.5;
}

.unread {
  opacity: 1;
}
:root {
  --media-brand: 245 245 245;
  --media-focus: 78 156 246;
}

// WordPress Content

.aligncenter {
  text-align: center;
}