.Chat
{
   ion-header
   {
    ion-toolbar
    {
        --background: #FEFCFA;

        ion-avatar
        {
            background: var(--ion-color-primary);
            height: 2rem;
            margin-left: 10px;
            width: 2rem;

            h3
            {
                color: white;
                font-size: 24px;
                margin: 0;
            }
        }

        ion-title
        {
            font-family: 'GBold';
            font-size: 18px;
            padding: 0 !important;
           
        }

      
    }
   }

    ion-content
    {
        --background: #FEFCFA;

        .chat-area
        {
            .chat-bubble
            {
              
                padding: 16px;

                h3
                {
                    font-family: 'GBold';
                    font-size: 20px;
                    margin-top: 0;
                }

                p
                {
                    color: #2D2D2D;
                    font-size: 20px;
                    margin: 0;
                }
            }

            h6
            {
                color: #636363;
                font-size: 14px;
            }

            .reciver
            {
                .chat-bubble
                {
                    background: white;
                    border-radius: 16px 16px 16px 0;
                }
            }
        }

        .sender
        {
            .chat-bubble
            {
                background: #FFF7EF;
                border-radius: 16px 16px 0 16px;
            }
        }


    }

    ion-footer
    {
        background: #FEFCFA;
        ion-toolbar
        {
            --background: #FEFCFA;
            background: #FEFCFA;
          
            height: 4.5rem;
            padding: 10px 10px 10px 10px;

            ion-item
            {
                
                --border-radius: 10px;
                --padding-start:0;
                ion-input
                {
                    --background: #F3F3F3;
                    
                }
            }
        }
    }
}