.Journaladdition
{
    ion-toolbar
    {
        --background: #FEFCFA;

        ion-title
        {
            font-family: 'GBold';
            font-size: 20px;
        }
    }

    ion-content
    {
        --background: #FEFCFA;

        .date
        {
            display: inline-block !important;
        }

        .slider-calender
        {
            overflow-x: scroll !important;
            overflow-y: hidden !important;
            white-space: nowrap !important;
            margin-top: -25px ;
            padding-top: 20px;
            &::-webkit-scrollbar
            {
              display: none !important;
             }
        }

        .tick-labels {
            display: flex;
            justify-content: space-between;
            margin-top: 8px; /* Adjust as needed */
          }
          
          .tick-label {
            width: calc(20% - 5px); /* Adjust as needed based on the number of tick values */
            text-align: center;
            font-size: 12px; /* Adjust as needed */
            margin-right: calc(23% - 5px);
            color: #A9A8AA;
            font-size: 16px;
          }

        .search-holder
        {
            ion-item
            {
                --background: #F8F8F8;
                --padding-start:0;

                ion-button
                {
                    --background: #F8F8F8 !important ;
                }
            }
        }
        .section
        {
            .title
            {
                h3
                {
                    font-family: 'GBold';
                    font-size: 24px;
                }
            }

            .tags-holder
            {
                ion-item
                {
                    --background: white;
                    --border-color: #F0F0F0;
                    --border-style: solid;
                    --border-radius: 10px;
                    --border-width: 1px;
                    --padding-start:10px;
                    --inner-padding-end:5px;

                    ion-icon
                    {
                        font-size: 13px;
                        margin-right: 10px;
                    }

                    ion-label
                    {
                        font-size: 14px;
                    }

                    ion-checkbox
                    {
                        height: 100%;
                        left: 0;
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        width: 100%;
                    }
                }

                .item-checkbox-checked
                {
                    --background: #8FCAED;

                    ion-label
                    {
                        color: white;
                    }
                }
            }

            .ex-tags-holder
            {
                ion-item
                {
                    --background: white;
                    --border-color: #F0F0F0;
                    --border-style: solid;
                    --border-radius: 10px;
                    --border-width: 1px;
                    --padding-start:10px;
                    --inner-padding-end:5px;
                    margin-left: 0 !important;

                    ion-icon
                    {
                        font-size: 13px;
                        margin-right: 10px;
                    }

                    ion-label
                    {
                        font-size: 14px;
                    }

                    ion-checkbox
                    {
                        
                        --border-color:white;
                        --checkbox-background-checked:white;
                        --border-color-checked:#3684B3;
                        --checkmark-color: #3684B3;
                    }
                }

                .item-checkbox-checked
                {
                    --background: #8FCAED;

                    ion-label
                    {
                        color: white;
                    }
                }
            }

            .range-holder
            {
                margin-top: -20px;
                .start-slot
                {
                    margin-top: -5px;
                    img
                    {
                        margin-right: 5px;
                    }

                    h3
                    {
                        margin: 0 10px 0 0; 
                        font-size: 16px;
                    }
                }
                
            }
        }
        .add-custom-category
        {
            ion-button
            {
                --border-radius: 50%;
                height: 3rem;
                width: 3rem;

                ion-icon
                {
                    color: white;
                    transform: scale(2);
                }
                
            }

            h4
            {
                font-family: 'GBold';
                font-size: 20px;
                margin-top: 10px;
            }
        }

        .last
        {
            margin-top: 40px;
            .the-form
            {
                margin-top: 0 !important;

                ion-item
                {
                    --border-color: #F0F0F0;
                    --border-radius: 10px;
                    --border-style: dashed;
                    --border-width: 1px;
                }
            }
        }

    }
}